html {
    font-size: 10px;
    font-family: Montserrat;
    background-color: #404040;
}
body{
    width: 600px;
    margin: 0 auto;
    background-color: #a6a6a6;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 5px -3px 10px black;
    color: #ffff00;
}
img{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}
h2{
    font-size: 30px;
    text-align: center;
}
p,li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    margin: 2px;
}
footer{
    padding: 30px 0 0;
}
a.vk-link{
    display: block;
    text-align: center;
    margin: -25px 0;
}
a.nextpagelink{
    display: block;
    text-align: right;
    margin: 0 auto;
    font-size: 20px;
    color: black;
}
button{
    font-size: 15px;
    display: block;
    margin: -20px 0;
    text-align: left;
}
